/* Default styles for larger screens (e.g., laptops/desktops) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

#map-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

#start-end-points {
    margin-top: 20px;
    text-align: center;
}

label {
    font-size: 14px;
    margin-right: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3498db;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    outline: none;
    text-align: center;
}

select option {
    display: block;
}

#find-route-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#find-route-btn:hover {
    background-color: #27ae60;
}

/* Responsive styles for smaller screens (e.g., phones) */
@media (max-width: 768px) {
    img {
        max-width: 80%;
    }

    select {
        font-size: 12px;
    }

    #find-route-btn {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    img {
        max-width: 90%;
    }

    #start-end-points {
        text-align: center;
        margin-bottom: 10px;
    }

    #find-route-btn {
        width: 100%;
    }
}
